/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Full page background */
html, body {
    height: 100%;
}

body {
    background: url('../img/GCG_grind_bg_img-0.1.png') no-repeat center center fixed;
    background-size: cover;
}

/* Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

/* Logo */
.logo {
    position: absolute;
    top: 41px;
    left: 41px;
    transition: .3s ease all;
}

.logo:hover,
.center-button img:hover {
    opacity: .7;
}

.logo img {
    width: 280px;
    height: 103px;
}

/* Center Button */
.center-button {
    width: 453px;
    height: 107px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-button img {
    width: 100%;
    height: 100%;
    transition: .3s ease all;
}
