body,
div,
p,
h1,
h2,
img,
ul,
li,
a,
form,
textarea,
input,
button,
table,
th,
tr,
td,
span {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

button,
input {
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  outline: 0;
  background: transparent;
}

a:focus {
  outline: none;
}

li {
  list-style-type: none;
  display: block;
}

section, article, aside, footer, header, nav {
  display: block;
}

textarea {
  resize: none;
}

.flex-core {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.flex-center-start {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-center-end {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.flex-end-center {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.lg-mb-16 {
  margin-bottom: 16px;
}

html, body {
  background: hsl(0, 0%, 99%);
  font-family: monospace;
  color: hsl(0, 0%, 8%);
}

.invis {
  display: none;
}

.dim {
  opacity: 0.1;
}

.wrap {
  height: 100vh;
}

.wallet-wrap {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.form-ctr {
  width: 560px;
  height: 239px;
}

.nfo-ctr-1 {
  width: 560px;
  height: 65px;
  background: white;
  background-image: url(../img/input-bg-v2.svg);
  background-size: 560px 66px;
  background-repeat: no-repeat;
}

.nfo-ctr-2 {
  width: 560px;
  height: 66px;
  background: white;
  background-image: url(../img/input-bg-v3.svg);
  background-size: 560px 66px;
  background-repeat: no-repeat;
}

.nfo-ctr-3 {
  width: 560px;
  height: 107px;
  background: white;
  background-image: url(../img/submit-bg-v2.svg);
  background-size: 560px 107px;
  background-repeat: no-repeat;
  margin-top: -1px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nfo-sub-ctr-1 {
  width: 214px;
  height: 107px;
  background-image: url(../img/submit-bg-v3.svg);
  margin-top: -1px;
  background-size: 214px 107px;
  background-repeat: no-repeat;
  margin-right: -1px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  clip-path: inset(0 0 0 2px);
}

.nfo-sub-ctr-2 {
  width: 348px;
  height: 107px;
  background-image: url(../img/input-bg-v9.svg);
  margin-top: -1px;
  background-size: 348px 107px;
  background-repeat: no-repeat;
  margin-left: -3px;
}

.nfo-sub-ctr-3 {
  width: 453px;
  margin-bottom: 33px;
}

.nfo-ctr-4,
.nfo-ctr-5,
.nfo-ctr-6 {
  width: 560px;
  height: 65px;
  border: 2px solid black;
  background: white;
}

.nfo-ctr-5 {
  margin-top: -2px;
}

.nfo-ctr-6 {
  margin-top: -2px;
  height: 255px;
}

.connect-enabled:hover {
  opacity: 0.7;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.connect-disabled {
  cursor: not-allowed;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nfo-p1,
.nfo-p2,
.nfo-p3 {
  font-family: monospace;
  font-size: 15.6px;
  text-transform: uppercase;
  padding-left: 16px;
  font-weight: bold;
}

.nfo-p2 {
  font-weight: normal;
  padding-left: 0;
  text-transform: lowercase;
}

.nfo-p3 {
  color: hsl(0, 0%, 99%);
  font-size: 26.9px;
  padding-left: 66px;
}

.nfo-p4 {
  font-family: monospace;
  font-size: 15.6px;
  font-weight: normal;
  padding-left: 0;
}

.nfo-p5 {
  font-family: monospace;
  text-transform: uppercase;
  font-weight: bold;
  color: hsl(0, 0%, 99%);
  font-size: 26.9px;
}

.nfo-p5 span {
  font-size: 30px;
}

.nfo-p6,
.nfo-p7 {
  font-family: monospace;
  font-size: 22.7px;
  font-weight: bold;
  padding-left: 25px;
  color: #000;
}

.nfo-p7 {
  padding-left: 10px;
  font-weight: normal;
}

.nfo-p8 {
  font-family: monospace;
  font-size: 15.6px;
  color: #000;
  line-height: 1;
  margin-left: -35px;
}

.nfo-p8 span {
  font-weight: bold;
  text-transform: uppercase;
}

.nfo-sep-1 {
  padding-left: 14px;
  padding-right: 14px;
}

.btn-01,
.btn-02 {
  width: 214px;
  height: 107px;
  border: 2px solid black;
  font-size: 26.9px;
  text-transform: uppercase;
  margin: 0 12.5px 41px 12.5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-02 {
  background: #000;
  color: white;
}

.btn-01:hover,
.btn-02:hover {
  opacity: 0.7;
  cursor: pointer;
}

#hack-dollars-trigger {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}